@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model User

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"Edit { Model.FirstName } { Model.LastName }";
    ViewData["Page"] = "Users";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="User" asp-action="Index"
               class="text-decoration-none text-muted">User</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="User" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Edit @string.Format("{0} {1}", Model.FirstName, Model.LastName)
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form method="post">
        <input asp-for="Status" type="hidden" />
        <div class="px-3 mb-2 d-flex gap-3 align-items-center">
            @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            else
            {
                <img src="~/img/user.png" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            <div>
                <label for="UserPersonalPhoto" class="btn-label-primary">Upload new photo</label>
                <input asp-for="PhotoPath" type="file" class="photo-immediate-change" hidden accept="image/*" id="UserPersonalPhoto" />
            </div>
        </div>
        <hr />
        <fieldset class="form-group border mt-3 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Information</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="SecondName" class="form-label"></label>
                <input asp-for="SecondName" class="form-control">
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="ThirdName" class="form-label"></label>
                <input asp-for="ThirdName" class="form-control">
                <span asp-validation-for="ThirdName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6 c-select-box">
                <label asp-for="Nationality" class="form-label"></label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control" asp-for="Nationality" readonly />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="BirthDate" class="form-label"></label>
                <input asp-for="BirthDate" type="date" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            @*<div class="mb-3 col-md-6">
                <label asp-for="PhotoPath" class="form-label"></label>
                <input asp-for="PhotoPath" type="file" class="form-control">
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>*@
            <div class="mb-3 col-md-6">
                <label for="role" class="form-label">Role</label>
                <select id="role" multiple class="form-control">
                    <option value="Select">Select</option>
                    <option value="Super Admin">Super Admin</option>
                    <option value="Admin">Admin</option>
                    <option value="Seller">Seller</option>
                    <option value="Customer">Customer</option>
                </select>
                <span @*asp-validation-for=""*@ class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Contact Details</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Address Details</legend>
            <div class="mb-3 col-md-6 c-select-box">
                <label asp-for="Address.Country" class="form-label"></label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control"
                           asp-for="Address.Country" readonly />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Address.City" class="form-label"></label>
                <input asp-for="Address.City" class="form-control">
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Address.Street" class="form-label"></label>
                <input asp-for="Address.Street" class="form-control">
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Address.AppartmentNo" class="form-label"></label>
                <input asp-for="Address.AppartmentNo" class="form-control">
                <span asp-validation-for="Address.AppartmentNo" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Address.ZipCode" class="form-label"></label>
                <input asp-for="Address.ZipCode" class="form-control">
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Credentials</legend>
            <div class="mb-3 col-md-6">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3 mb-3 col-md-6">
                <label asp-for="EncPassword" class="form-label"></label>
                <div class="c-eye-pass-box">
                    <input asp-for="EncPassword" class="form-control">
                    <div class="c-pass-icon-wrapper">
                        <i class="fa-solid fa-eye c-icon show-pass-btn"></i>
                        <i class="fa-solid fa-eye-slash c-icon active hide-pass-btn"></i>
                    </div>
                </div>
                <span asp-validation-for="EncPassword" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Actions</legend>
            <div class="mb-3 d-flex gap-2">
                @{
                    if (Model.Status)
                    {
                        <a asp-area="ControlPanel" asp-controller="User" 
                            asp-action="Deactivate" asp-route-id="@Model.Id"
                           class="btn-label-warning">
                            Deactivate the user
                        </a>
                    }
                    else
                    {
                        <a asp-area="ControlPanel" asp-controller="User"
                           asp-action="Activate" asp-route-id="@Model.Id"
                           class="btn-label-primary">
                            Activate the user
                        </a>
                    }
                }
                <a asp-area="ControlPanel" asp-controller="User"
                   asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn-label-danger">
                    Delete the user
                </a>
            </div>
        </fieldset>
        <hr />
        <div class="mx-3 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-area="ControlPanel" asp-controller="User" asp-action="Index"
               class="btn btn-secondary">
                Back to list
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}