@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<User>

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Users";
    ViewData["Page"] = "Users";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="User" asp-action="Index"
               class="text-decoration-none text-muted">User</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a asp-area="ControlPanel" asp-controller="User" asp-action="Create"
                class="btn-label-primary">Add new user</a>
        </div>
        <div class="c-datatable-wrapper">
            <table id="usersTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td class="ps-4">
                                @{
                                    if (!string.IsNullOrWhiteSpace(user.PhotoURL))
                                    {
                                        <img src="@user.PhotoURL" alt="@user.FirstName" class="circular-user-photo" />
                                    }
                                    else
                                    {
                                        <img src="~/img/user.png" alt="@user.FirstName" class="circular-user-photo" />
                                    }
                                }
                            </td>
                            <td class="text-nowrap">@string.Format("{0} {1} {2} {3}",user.FirstName, user.SecondName, user.ThirdName, user.LastName)</td>
                            <td class="text-nowrap">Super Admin</td>
                            <td class="text-nowrap">@user.Username</td>
                            <td class="text-nowrap">@user.EncPassword</td>
                            <td>
                                @{
                                    if (user.Status == true)
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Inactive</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="User" asp-action="Details" asp-route-id="@user.Id">Show details</a></li>
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit details</a></li>
                                        <li>
                                                @{
                                                    if (user.Status == true)
                                                    {
                                                        <a asp-area="ControlPanel" asp-controller="User" 
                                                            asp-action="Deactivate" asp-route-id="@user.Id"
                                                            class="dropdown-item">
                                                            <span>Deactivate the user</span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                    <a asp-area="ControlPanel" asp-controller="User"
                                                       asp-action="Activate" asp-route-id="@user.Id"
                                                       class="dropdown-item">
                                                        <span>Activate the user</span>
                                                    </a>
                                                    }
                                                }
                                        </li>
                                        <li>
                                            <a asp-area="ControlPanel" asp-controller="User"
                                                asp-action="Delete" asp-route-id="@user.Id"
                                                class="dropdown-item link-danger">
                                                Delete the user
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#usersTable').DataTable({
            "columnDefs": [
                {
                    "targets": [1, 5, 7],
                    "orderable": false
                },
            ],
            "initComplete": function (settings, json) {
                const tableWrapper =
                    document.querySelector("div:has(> #usersTable)");

                tableWrapper.classList.add("c-scroll");
                tableWrapper.classList.add("x-scroll");
            },
        });

    </script>
}