@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model User

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
    ViewData["Page"] = "Admins";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
               class="text-decoration-none text-muted">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @{
                WriteLiteral($"{Model.FirstName} {Model.LastName}");
            }
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form>
        <div class="px-3 d-flex justify-content-between align-items-start">
            @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            else
            {
                <img src="~/img/user.png" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="mzn-btn-label-primary">Edit admin details</a>
        </div>
        <hr />
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Information</legend>
            <div class="mb-3 col-md-6">
                <label for="adminFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="adminFirstName" readonly value="@Model.FirstName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminSecondName" class="form-label">Second Name</label>
                <input type="text" class="form-control" id="adminSecondName" readonly value="@Model.SecondName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminThirdName" class="form-label">Third Name</label>
                <input type="text" class="form-control" id="adminThirdName" readonly value="@Model.ThirdName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="adminLastName" readonly value="@Model.LastName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminNationality" class="form-label">Nationality</label>
                <input type="text" class="form-control" id="adminNationality" readonly value="@Model.Nationality">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminBirthDate" class="form-label">Birth Date</label>
                <input type="text" class="form-control" id="adminBirthDate" readonly value="@{
                    WriteLiteral(Model.BirthDate.ToString("MMMM d - yyyy"));
 }">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Contact Details</legend>
            <div class="mb-3 col-md-6">
                <label for="adminPhoneNo" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="adminPhoneNo" readonly value="@Model.PhoneNumber">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="adminEmail" readonly value="@Model.Email">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Address Details</legend>
            <div class="mb-3 col-md-6">
                <label for="adminAddressCountry" class="form-label">Country</label>
                <input type="text" class="form-control" id="adminAddressCountry" readonly value="@Model.Address.Country">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminCity" class="form-label">City</label>
                <input type="text" class="form-control" id="adminCity" readonly value="@Model.Address.City">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminStreet" class="form-label">Street</label>
                <input type="text" class="form-control" id="adminStreet" readonly value="@Model.Address.Street">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminAppartmentNo" class="form-label">Appartment No</label>
                <input type="text" class="form-control" id="adminAppartmentNo" readonly value="@Model.Address.AppartmentNo">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminZipCode" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="adminZipCode" readonly value="@Model.Address.ZipCode">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Credentials</legend>
            <div class="mb-3 col-md-6">
                <label for="adminUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="adminUsername" readonly value="@Model.Username">
            </div>
            <div class="mb-3 col-md-6">
                <label for="adminPassword" class="form-label">Password</label>
                <input type="text" class="form-control" id="adminPassword" readonly value="@Model.EncPassword">
            </div>
        </fieldset>
    </form>
</div>