@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<User>

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admins";
    ViewData["Page"] = "Admins";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
               class="text-decoration-none text-muted">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div id="addAdminModal" class="modal fade modal-lg" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Add new Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group border mt-2 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Primary Information</legend>
                        <input type="hidden" name="newAdminRole" value="Admin" />
                        <div class="mb-3">
                            <label for="newAdminFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="newAdminFirstName">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminSecondName" class="form-label">Second Name</label>
                            <input type="text" class="form-control" id="newAdminSecondName">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminThirdName" class="form-label">Third Name</label>
                            <input type="text" class="form-control" id="newAdminThirdName">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="newAdminLastName">
                        </div>
                        <div class="mb-3 mzn-select-box">
                            <label for="newAdminNationality" class="form-label">Nationality</label>
                            <div class="mzn-select-option">
                                <input class="mzn-selected-item form-control" type="text" id="newAdminNationality" readonly name="newAdminNationality" value="Select" />
                            </div>
                            <div class="mzn-select-items-container">
                                <div class="mzn-search-select-items-input-wrapper">
                                    <input class="mzn-search-select-items-input" type="text" id="optionSearch" autocomplete="off" />
                                </div>
                                <ul class="load-countries">
                                    <li class="mzn-select-item active">Select</li>
                                </ul>
                                <p class="mzn-no-match-msg">No results found</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newAdminBirthDate" class="form-label">Birth Date</label>
                            <input type="date" class="form-control" id="newAdminBirthDate">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminPersonalPhoto" class="form-label">Personal Photo</label>
                            <input class="form-control" type="file" accept="image/*" id="newAdminPersonalPhoto">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Contact Details</legend>
                        <div class="mb-3">
                            <label for="newAdminPhoneNo" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="newAdminPhoneNo">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="newAdminEmail">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Address Details</legend>
                        <div class="mb-3">
                            <label for="newAdminAddressCountry" class="form-label">Country</label>
                            <input type="text" class="form-control" id="newAdminAddressCountry">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="newAdminCity">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminStreet" class="form-label">Street</label>
                            <input type="text" class="form-control" id="newAdminStreet">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminAppartmentNo" class="form-label">Appartment No</label>
                            <input type="number" class="form-control" id="newAdminAppartmentNo">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminZipCode" class="form-label">Zip Code</label>
                            <input type="number" class="form-control" id="newAdminZipCode">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Credentials</legend>
                        <div class="mb-3">
                            <label for="newAdminUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newAdminUsername">
                        </div>
                        <div class="mb-3">
                            <label for="newAdminPassword" class="form-label">Password</label>
                            <div class="mzn-eye-pass-box">
                                <input type="password" id="newAdminPassword" class="form-control" aria-describedby="newAdminPasswordHelpBlock">
                                <div class="mzn-pass-icon-wrapper">
                                    <i class="fa-solid fa-eye mzn-icon active show-pass-btn"></i>
                                    <i class="fa-solid fa-eye-slash mzn-icon hide-pass-btn"></i>
                                </div>
                            </div>
                            <div id="newAdminPasswordHelpBlock" class="form-text">
                                The password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a href="javascript:void(0)" data-bs-target="#addAdminModal" data-bs-toggle="modal" class="mzn-btn-label-primary">Add new admin</a>
        </div>
        <div class="mzn-datatable-wrapper">
            <table id="adminsTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr>
                            <td>@admin.Id</td>
                            <td class="ps-4">
                                @{
                                    if (!string.IsNullOrWhiteSpace(admin.PhotoPath))
                                    {
                                        <img src="@admin.PhotoPath" alt="@admin.FirstName" class="circular-user-photo" />
                                    }
                                    else
                                    {
                                        <img src="~/img/user.png" alt="@admin.FirstName" class="circular-user-photo" />
                                    }
                                }
                            </td>
                            <td class="text-nowrap">@string.Format("{0} {1} {2} {3}",admin.FirstName, admin.SecondName, admin.ThirdName, admin.LastName)</td>
                            <td class="text-nowrap">@admin.Username</td>
                            <td class="text-nowrap">@admin.EncPassword</td>
                            <td>
                                @{
                                    if (admin.Status == true)
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Inactive</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Admin" asp-action="Details" asp-route-id="@admin.Id">Show details</a></li>
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Admin" asp-action="Edit" asp-route-id="@admin.Id">Edit details</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                @{
                                                    if (admin.Status == true)
                                                    {
                                                        <span>Deactivate the admin</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Activate the admin</span>
                                                    }
                                                }
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item link-danger" href="#">Delete the admin</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#adminsTable').DataTable({
            "columnDefs": [
                {
                    "targets": [1, 4, 6],
                    "orderable": false
                },
            ],
            "initComplete": function (settings, json) {
                const tableWrapper =
                    document.querySelector("div:has(> #adminsTable)");

                tableWrapper.classList.add("mzn-scroll");
                tableWrapper.classList.add("mzn-x-scroll");
            },
        });

    </script>
}