@model Sale

@{
    ViewData["Title"] = "Sale Details";
    ViewData["Page"] = "Sales";

    bool hasDiscount =
        Model.Product.OldPrice != null
        && Model.Product.OldPrice != 0
        && Model.Product.OldPrice != Model.Product.NewPrice;

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Seller" asp-controller="Sale" asp-action="Index"
               class="text-decoration-none text-muted">Sale</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Seller" asp-controller="Sale" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @{
                WriteLiteral("Sale Details");
            }
        </li>
    </ol>
</nav>

<div class="card px-0 pb-3">
    <form>
        <fieldset class="form-group border mt-3 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">General Information</legend>
            <div class="mb-3 col-md-6">
                <label for="saleDate" class="form-label">Sale Date</label>
                <input type="text" class="form-control" id="saleDate" readonly
                       value="@Model.DateTime.ToString("MMMM dd - yyyy")">
            </div>
            <div class="mb-3 col-md-6">
                <label for="saleTime" class="form-label">Sale Time</label>
                <input type="text" class="form-control" id="saleTime" readonly
                       value="@Model.DateTime.ToString("hh:mm tt")">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Product Information</legend>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <img src="@Model.Product.MainPosterURL" alt="@Model.Product.MainPosterURL" class="prod-poster-in-details" />
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="saleProductName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="saleProductName" readonly value="@Model.Product.Name">
            </div>
            <div class="mb-3 col-md-6">
                <label for="saleProductCategory" class="form-label">Product Category</label>
                <input type="text" class="form-control" id="saleProductCategory" readonly value="@Model.Product.Category.Name">
            </div>
            @{
                if (hasDiscount)
                {
                    <div class="mb-3 col-md-6">
                        <label for="saleProductOldPrice" class="form-label">Price before discount</label>
                        <input type="text" class="form-control" id="saleProductOldPrice" readonly value="$@Model.Product.OldPrice">
                    </div>
                }
            }
            <div class="mb-3 col-md-6">
                <label for="saleProductNewPrice" class="form-label">
                    @{
                        if (hasDiscount)
                        {
                            WriteLiteral("Price after discount");
                        }
                        else
                        {
                            WriteLiteral("Price");
                        }
                    }
                </label>
                <input type="text" class="form-control" id="saleProductNewPrice" readonly value="$@Model.Product.NewPrice">
            </div>
            <div class="d-flex gap-2 mb-3">
                <a asp-area="Seller" asp-controller="Product"
                   asp-action="Details" asp-route-id="@Model.Product.Id"
                   class="btn-label-primary">
                    More Details
                </a>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Customer Information</legend>
            <div class="mb-3 col-md-6">
                <label for="saleCustomerName" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="saleCustomerName" readonly
                       value="@string.Format("{0} {1}", Model.Customer.FirstName ?? "", Model.Customer.LastName ?? "")">
            </div>
            @*<div class="mb-3 col-md-6">
                <label for="saleCustomerUsername" class="form-label">Customer Username</label>
                <input type="text" class="form-control" id="saleCustomerUsername" readonly
                       value="@Model.Customer.Username">
            </div>*@
        </fieldset>
    </form>
</div>