@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<User>

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Super Admins";
    ViewData["Page"] = "SuperAdmins";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="SuperAdmin" asp-action="Index"
               class="text-decoration-none text-muted">Super Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div id="addSuperAdminModal" class="modal fade modal-lg" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Add New Super Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group border mt-2 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Primary Information</legend>
                        <input type="hidden" name="newSuperAdminRole" value="Super Admin" />
                        <div class="mb-3">
                            <label for="newSuperAdminFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="newSuperAdminFirstName">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminSecondName" class="form-label">Second Name</label>
                            <input type="text" class="form-control" id="newSuperAdminSecondName">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminThirdName" class="form-label">Third Name</label>
                            <input type="text" class="form-control" id="newSuperAdminThirdName">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="newSuperAdminLastName">
                        </div>
                        <div class="mb-3 mzn-select-box">
                            <label for="newSuperAdminNationality" class="form-label">Nationality</label>
                            <div class="mzn-select-option">
                                <input class="mzn-selected-item form-control" type="text" id="newSuperAdminNationality" readonly name="newAdminNationality" value="Select" />
                            </div>
                            <div class="mzn-select-items-container">
                                <div class="mzn-search-select-items-input-wrapper">
                                    <input class="mzn-search-select-items-input" type="text" id="optionSearch" autocomplete="off" />
                                </div>
                                <ul class="load-countries">
                                    <li class="mzn-select-item active">Select</li>
                                </ul>
                                <p class="mzn-no-match-msg">No results found</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminBirthDate" class="form-label">Birth Date</label>
                            <input type="date" class="form-control" id="newSuperAdminBirthDate">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminPersonalPhoto" class="form-label">Personal Photo</label>
                            <input class="form-control" type="file" accept="image/*" id="newSuperAdminPersonalPhoto">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Contact Details</legend>
                        <div class="mb-3">
                            <label for="newSuperAdminPhoneNo" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="newSuperAdminPhoneNo">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="newSuperAdminEmail">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Address Details</legend>
                        <div class="mb-3">
                            <label for="newSuperAdminAddressCountry" class="form-label">Country</label>
                            <input type="text" class="form-control" id="newSuperAdminAddressCountry">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="newSuperAdminCity">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminStreet" class="form-label">Street</label>
                            <input type="text" class="form-control" id="newSuperAdminStreet">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminAppartmentNo" class="form-label">Appartment No</label>
                            <input type="number" class="form-control" id="newSuperAdminAppartmentNo">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminZipCode" class="form-label">Zip Code</label>
                            <input type="number" class="form-control" id="newSuperAdminZipCode">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Credentials</legend>
                        <div class="mb-3">
                            <label for="newSuperAdminUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newSuperAdminUsername">
                        </div>
                        <div class="mb-3">
                            <label for="newSuperAdminPassword" class="form-label">Password</label>
                            <div class="mzn-eye-pass-box">
                                <input type="password" id="newSuperAdminPassword" class="form-control" aria-describedby="newSuperAdminPasswordHelpBlock">
                                <div class="mzn-pass-icon-wrapper">
                                    <i class="fa-solid fa-eye mzn-icon active show-pass-btn"></i>
                                    <i class="fa-solid fa-eye-slash mzn-icon hide-pass-btn"></i>
                                </div>
                            </div>
                            <div id="newSuperAdminPasswordHelpBlock" class="form-text">
                                The password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a href="javascript:void(0)" data-bs-target="#addSuperAdminModal" data-bs-toggle="modal" class="mzn-btn-label-primary">Add new super admin</a>
        </div>
        <div class="mzn-datatable-wrapper">
            <table id="superAdminsTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var superAdmin in Model)
                    {
                        <tr>
                            <td>@superAdmin.Id</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(superAdmin.PhotoPath))
                                {
                                    <img src="@superAdmin.PhotoPath" alt="@superAdmin.FirstName" class="circular-user-photo" />
                                }
                                else
                                {
                                    <img src="~/img/user.png" alt="@superAdmin.FirstName" class="circular-user-photo" />
                                }
                            </td>
                            <td class="text-nowrap">@string.Format("{0} {1} {2} {3}",superAdmin.FirstName, superAdmin.SecondName, superAdmin.ThirdName, superAdmin.LastName)</td>
                            <td class="text-nowrap">@superAdmin.Username</td>
                            <td class="text-nowrap">@superAdmin.EncPassword</td>
                            <td>
                                @{
                                    if (superAdmin.Status == true)
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Inactive</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="SuperAdmin" asp-action="Details" asp-route-id="@superAdmin.Id">Show details</a></li>
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="SuperAdmin" asp-action="Edit" asp-route-id="@superAdmin.Id">Edit details</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#superAdminsTable').DataTable({
            "columnDefs": [
                {
                    "targets": [1, 4, 6],
                    "orderable": false
                },
            ],
            "initComplete": function (settings, json) {
                const tableWrapper =
                    document.querySelector("div:has(> #superAdminsTable)");

                tableWrapper.classList.add("mzn-scroll");
                tableWrapper.classList.add("mzn-x-scroll");
            },
        });

    </script>
}