@model Product

@{
    ViewData["Title"] = Model.Name;
    ViewData["Page"] = "Products";

    bool hasDiscount =
        Model.OldPrice != null
        && Model.OldPrice != 0
        && Model.OldPrice != Model.NewPrice;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Product" asp-action="Index"
               class="text-decoration-none text-muted">Product</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Product" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @{
                if ( Model.Name.Length > 50 )
                {
                    WriteLiteral($"{Model.Name.Substring(0, 50)}...");   
                }
                else
                {
                    WriteLiteral(Model.Name);
                }
            }
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form>
        <div class="px-3 d-flex justify-content-between align-items-start">
            @if (!string.IsNullOrWhiteSpace(Model.MainPosterURL))
            {
                <img src="@Model.MainPosterURL" alt="@Model.Name" class="product-poster-in-wide-card" />
            }
            else
            {
                <img src="~/img/user.png" alt="@Model.Name" class="product-poster-in-wide-card" />
            }
        </div>
        <hr />
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Product Name</legend>
            <div>
                <h3 class="fs-5">
                    @Model.Name
                </h3>
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Product Description</legend>
            <div>
                @Html.Raw(Model.HTMLDescription)
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Other Details</legend>
            <div class="mb-3 col-md-6">
                <label for="productCategory" class="form-label">Product Category</label>
                <input type="text" class="form-control" id="productCategory" readonly value="@Model.Category.Name">
            </div>
            @{
                if (hasDiscount)
                {
                    <div class="mb-3 col-md-6">
                        <label for="productOldPrice" class="form-label">Price before discount</label>
                        <input type="text" class="form-control" id="productOldPrice" readonly value="$@Model.OldPrice">
                    </div>
                }
            }
            <div class="mb-3 col-md-6">
                <label for="productNewPrice" class="form-label">
                    @{
                        if (hasDiscount)
                        {
                            WriteLiteral("Price after discount");
                        }
                        else
                        {
                            WriteLiteral("Price");
                        }
                    }
                </label>
                <input type="text" class="form-control" id="productNewPrice" readonly value="$@Model.NewPrice">
            </div>
            <div class="mb-3 col-md-6">
                <label for="productInStock" class="form-label">In Stock</label>
                <input type="text" class="form-control" id="productInStock" readonly value="@Model.InStock">
            </div>
            <div class="mb-3 col-md-6">
                <label for="productStoreName" class="form-label">Store Name</label>
                <input type="text" class="form-control" id="productStoreName" readonly value="@Model.Store.Name">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Actions</legend>
            <div class="mb-3 d-flex gap-2">
                <a asp-area="ControlPanel" asp-controller="Store"
                    asp-action="Details" asp-route-id="@Model.Store.Id"
                   class="btn-label-primary">
                    Show store details
                </a>
                <a asp-area="ControlPanel" asp-controller="Product"
                    asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn-label-danger">
                    Delete the product
                </a>
            </div>
        </fieldset>
    </form>
</div>