@model List<Category>

@{
    ViewData["Title"] = "Categories";
    ViewData["Page"] = "Categories";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Category" asp-action="Index"
               class="text-decoration-none text-muted">Category</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a asp-area="ControlPanel" asp-controller="Category" asp-action="Create"
                class="btn-label-primary">Add new category</a>
        </div>
        <div class="c-datatable-wrapper header-border-top-0">
            <table id="categoriesTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Products</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>
                                <a class="text-decoration-none" asp-area="ControlPanel" asp-controller="Category" asp-action="CategoryProducts" asp-route-id="@category.Id">
                                    5
                                </a>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a asp-area="ControlPanel" asp-controller="Category" 
                                                asp-action="Edit" asp-route-id="@category.Id"
                                                class="dropdown-item">
                                            Edit category name
                                        </a>
                                        </li>
                                        <li>
                                            <a asp-area="ControlPanel" asp-controller="Category"
                                               asp-action="Delete" asp-route-id="@category.Id"
                                                class="dropdown-item link-danger">
                                                Delete the category
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {

    <script>

        $('#categoriesTable').DataTable({
            "columnDefs": [
                {
                    "targets": [3],
                    "orderable": false
                },
            ]
        });

    </script>
}
