@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model User

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
    ViewData["Page"] = "Customers";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Index"
               class="text-decoration-none text-muted">Customer</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @{
                WriteLiteral($"{Model.FirstName} {Model.LastName}");
            }
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form>
        <div class="px-3 d-flex justify-content-between align-items-start">
            @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            else
            {
                <img src="~/img/user.png" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id" class="btn-label-primary">Edit customer details</a>
        </div>
        <hr />
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Information</legend>
            <div class="mb-3 col-md-6">
                <label for="customerFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="customerFirstName" readonly value="@Model.FirstName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerSecondName" class="form-label">Second Name</label>
                <input type="text" class="form-control" id="customerSecondName" readonly value="@Model.SecondName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerThirdName" class="form-label">Third Name</label>
                <input type="text" class="form-control" id="customerThirdName" readonly value="@Model.ThirdName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="customerLastName" readonly value="@Model.LastName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerNationality" class="form-label">Nationality</label>
                <input type="text" class="form-control" id="customerNationality" readonly value="@Model.Nationality">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerBirthDate" class="form-label">Birth Date</label>
                <input type="text" class="form-control" id="customerBirthDate" readonly value="@{
                    WriteLiteral(Model.BirthDate.ToString("MMMM d - yyyy"));
 }">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Contact Details</legend>
            <div class="mb-3 col-md-6">
                <label for="customerPhoneNo" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="customerPhoneNo" readonly value="@Model.PhoneNumber">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="customerEmail" readonly value="@Model.Email">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Address Details</legend>
            <div class="mb-3 col-md-6">
                <label for="customerAddressCountry" class="form-label">Country</label>
                <input type="text" class="form-control" id="customerAddressCountry" readonly value="@Model.Address.Country">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerCity" class="form-label">City</label>
                <input type="text" class="form-control" id="customerCity" readonly value="@Model.Address.City">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerStreet" class="form-label">Street</label>
                <input type="text" class="form-control" id="customerStreet" readonly value="@Model.Address.Street">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerAppartmentNo" class="form-label">Appartment No</label>
                <input type="text" class="form-control" id="customerAppartmentNo" readonly value="@Model.Address.AppartmentNo">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerZipCode" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="customerZipCode" readonly value="@Model.Address.ZipCode">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Credentials</legend>
            <div class="mb-3 col-md-6">
                <label for="customerUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="customerUsername" readonly value="@Model.Username">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerPassword" class="form-label">Password</label>
                <input type="text" class="form-control" id="customerPassword" readonly value="@Model.EncPassword">
            </div>
        </fieldset>
    </form>
</div>