@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model User

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"Edit {Model.FirstName} {Model.LastName}";
    ViewData["Page"] = "Customers";
}

<!--

    Fix the security threat that when the admin tries to edit customer info,
    and changes the URL from Customer/Details/# to SuperAdmin/Edit/#
    and then press "Save", the customer role is upgraded into "Super Admin"

    You can fix that when forcing role checks.
    So please Mazen (My Future Entity), Don't forget that

-->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Index"
               class="text-decoration-none text-muted">Customer</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Index"
               class="text-decoration-none text-muted">List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @{
                WriteLiteral($"Edit {Model.FirstName} {Model.LastName}");
            }
        </li>
    </ol>
</nav>

<div class="card px-0 py-3">
    <form>
        <div class="px-3 mb-2 d-flex gap-3 align-items-center">
            @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            else
            {
                <img src="~/img/user.png" alt="@Model.FirstName" class="circular-user-photo Large" />
            }
            <div>
                <label for="CustomerPersonalPhoto" class="btn-label-primary">Upload new photo</label>
                <input type="file" class="photo-immediate-change" hidden accept="image/*" id="CustomerPersonalPhoto" name="" />
            </div>
        </div>
        <hr />
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Primary Information</legend>
            <div class="mb-3 col-md-6">
                <label for="customerFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="customerFirstName" value="@Model.FirstName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerSecondName" class="form-label">Second Name</label>
                <input type="text" class="form-control" id="customerSecondName" value="@Model.SecondName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerThirdName" class="form-label">Third Name</label>
                <input type="text" class="form-control" id="customerThirdName" value="@Model.ThirdName">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="customerLastName" value="@Model.LastName">
            </div>
            <div class="mb-3 col-md-6 c-select-box">
                <label for="customerNationality" class="form-label">Nationality</label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control" type="text" id="customerNationality" readonly name="customerNationality" value="@Model.Nationality" />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                        <li class="c-select-item active">Select</li>
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerBirthDate" class="form-label">Birth Date</label>
                <input type="date" class="form-control" id="customerBirthDate" value="@{
                    WriteLiteral(Model.BirthDate.ToString("yyyy-MM-dd"));
                }">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Contact Details</legend>
            <div class="mb-3 col-md-6">
                <label for="customerPhoneNo" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="customerPhoneNo" value="@Model.PhoneNumber">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="customerEmail" value="@Model.Email">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Address Details</legend>
            <div class="mb-3 col-md-6 c-select-box">
                <label for="customerAddressCountry" class="form-label">Country</label>
                <div class="c-select-option">
                    <input class="c-selected-item form-control" type="text" id="customerAddressCountry" readonly name="customerAddressCountry" value="@Model.Address.Country" />
                </div>
                <div class="c-select-items-container">
                    <div class="c-search-select-items-input-wrapper">
                        <input class="c-search-select-items-input" type="text" autocomplete="off" />
                    </div>
                    <ul class="load-countries">
                        <li class="c-select-item active">Select</li>
                    </ul>
                    <p class="c-no-match-msg">No results found</p>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerCity" class="form-label">City</label>
                <input type="text" class="form-control" id="customerCity" value="@Model.Address.City">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerStreet" class="form-label">Street</label>
                <input type="text" class="form-control" id="customerStreet" value="@Model.Address.Street">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerAppartmentNo" class="form-label">Appartment No</label>
                <input type="number" class="form-control" id="customerAppartmentNo" value="@Model.Address.AppartmentNo">
            </div>
            <div class="mb-3 col-md-6">
                <label for="customerZipCode" class="form-label">Zip Code</label>
                <input type="number" class="form-control" id="customerZipCode" value="@Model.Address.ZipCode">
            </div>
        </fieldset>
        <fieldset class="form-group border mt-4 px-1 pt-4 row mx-3">
            <legend class="w-auto px-2">Credentials</legend>
            <div class="mb-3 col-md-6">
                <label for="customerUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="customerUsername" value="@Model.Username">
            </div>
            <div class="mb-3 mb-3 col-md-6">
                <label for="customerPassword" class="form-label">Password</label>
                <div class="c-eye-pass-box">
                    <input type="password" id="customerPassword" value="@Model.EncPassword" class="form-control">
                    <div class="c-pass-icon-wrapper">
                        <i class="fa-solid fa-eye c-icon active show-pass-btn"></i>
                        <i class="fa-solid fa-eye-slash c-icon hide-pass-btn"></i>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="mx-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a class="btn btn-secondary" asp-area="ControlPanel" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id">Reset</a>
        </div>
    </form>
</div>