@using MaShops
@using MaShops.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<User>

@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Customers";
    ViewData["Page"] = "Customers";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Customer" asp-action="Index"
               class="text-decoration-none text-muted">Customer</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div id="addCustomerModal" class="modal fade modal-lg" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Add new Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group border mt-2 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Primary Information</legend>
                        <input type="hidden" name="newCustomerRole" value="Customer" />
                        <div class="mb-3">
                            <label for="newCustomerFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="newCustomerFirstName">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerSecondName" class="form-label">Second Name</label>
                            <input type="text" class="form-control" id="newCustomerSecondName">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerThirdName" class="form-label">Third Name</label>
                            <input type="text" class="form-control" id="newCustomerThirdName">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="newCustomerLastName">
                        </div>
                        <div class="mb-3 c-select-box">
                            <label for="newCustomerNationality" class="form-label">Nationality</label>
                            <div class="c-select-option">
                                <input class="c-selected-item form-control" type="text" id="newCustomerNationality" readonly name="newCustomerNationality" value="Select" />
                            </div>
                            <div class="c-select-items-container">
                                <div class="c-search-select-items-input-wrapper">
                                    <input class="c-search-select-items-input" type="text" id="optionSearch" autocomplete="off" />
                                </div>
                                <ul class="load-countries">
                                    <li class="c-select-item active">Select</li>
                                </ul>
                                <p class="c-no-match-msg">No results found</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerBirthDate" class="form-label">Birth Date</label>
                            <input type="date" class="form-control" id="newCustomerBirthDate">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerPersonalPhoto" class="form-label">Personal Photo</label>
                            <input class="form-control" type="file" accept="image/*" id="newCustomerPersonalPhoto">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Contact Details</legend>
                        <div class="mb-3">
                            <label for="newCustomerPhoneNo" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="newCustomerPhoneNo">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="newCustomerEmail">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Address Details</legend>
                        <div class="mb-3">
                            <label for="newCustomerAddressCountry" class="form-label">Country</label>
                            <input type="text" class="form-control" id="newCustomerAddressCountry">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="newCustomerCity">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerStreet" class="form-label">Street</label>
                            <input type="text" class="form-control" id="newCustomerStreet">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerAppartmentNo" class="form-label">Appartment No</label>
                            <input type="number" class="form-control" id="newCustomerAppartmentNo">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerZipCode" class="form-label">Zip Code</label>
                            <input type="number" class="form-control" id="newCustomerZipCode">
                        </div>
                    </fieldset>
                    <fieldset class="form-group border mt-4 px-3 pb-3 pt-4">
                        <legend class="w-auto px-2">Credentials</legend>
                        <div class="mb-3">
                            <label for="newCustomerUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newCustomerUsername">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerPassword" class="form-label">Password</label>
                            <div class="c-eye-pass-box">
                                <input type="password" id="newCustomerPassword" class="form-control" aria-describedby="newCustomerPasswordHelpBlock">
                                <div class="c-pass-icon-wrapper">
                                    <i class="fa-solid fa-eye c-icon active show-pass-btn"></i>
                                    <i class="fa-solid fa-eye-slash c-icon hide-pass-btn"></i>
                                </div>
                            </div>
                            <div id="newCustomerPasswordHelpBlock" class="form-text">
                                The password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a href="javascript:void(0)" data-bs-target="#addCustomerModal" data-bs-toggle="modal" class="mzn-btn-label-primary">Add new customer</a>
        </div>
        <div class="mzn-datatable-wrapper">
            <table id="customersTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.Id</td>
                            <td class="ps-4">
                                @{
                                    if (!string.IsNullOrWhiteSpace(customer.PhotoPath))
                                    {
                                        <img src="@customer.PhotoPath" alt="@customer.FirstName" class="circular-user-photo" />
                                    }
                                    else
                                    {
                                        <img src="~/img/user.png" alt="@customer.FirstName" class="circular-user-photo" />
                                    }
                                }
                            </td>
                            <td class="text-nowrap">@string.Format("{0} {1} {2} {3}",customer.FirstName, customer.SecondName, customer.ThirdName, customer.LastName)</td>
                            <td class="text-nowrap">@customer.Username</td>
                            <td class="text-nowrap">@customer.EncPassword</td>
                            <td>
                                @{
                                    if (customer.Status == true)
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Inactive</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Customer" asp-action="Details" asp-route-id="@customer.Id">Show details</a></li>
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Edit details</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                @{
                                                    if (customer.Status == true)
                                                    {
                                                        <span>Deactivate the customer</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Activate the customer</span>
                                                    }
                                                }
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item link-danger" href="#">Delete the customer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#customersTable').DataTable({
            "columnDefs": [
                {
                    "targets": [1, 4, 6],
                    "orderable": false
                },
            ],
            "initComplete": function (settings, json) {
                const tableWrapper =
                    document.querySelector("div:has(> #customersTable)");

                tableWrapper.classList.add("c-scroll");
                tableWrapper.classList.add("x-scroll");
            },
        });

    </script>
}